<!-- form.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('header') %>
<body>
    <form method="post", action="/new">
        <input name="messageUser" type="text" placeholder="messageUser">
        <input id="message" name="messageText" type="text" placeholder="messageText">
        <button type="submit">submit</button>
    </form>
    <div>
        <a href="/">Back to Messages</a>
    </div>
</body>
</html>